.nav{
    background-color: #1890ff;
    height: 65px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3rem;
}
.logout{
    cursor: pointer;
}